PORT=3000
DB_ADDRESS=mongodb://root:example@mongo:27017/weblarek?authSource=admin
UPLOAD_PATH=images
UPLOAD_PATH_TEMP=temp
ORIGIN_ALLOW=http://localhost:5173
# ORIGIN_ALLOW=http://localhost
AUTH_ACCESS_TOKEN_SECRET=super-secret-access-key
AUTH_REFRESH_TOKEN_SECRET=super-secret-refresh-key

AUTH_ACCESS_TOKEN_EXPIRY=15m
AUTH_REFRESH_TOKEN_EXPIRY=7d